<ion-content>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" formControlName="email" class="form-control"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ion-label *ngFor="let validation of validationsMessages.email">
        <span *ngIf="showError('email')">{{ validation.message }}</span>
      </ion-label>
    </div>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password" class="form-control"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ion-label *ngFor="let validation of validationsMessages.password">
        <span *ngIf="showError('password')">{{ validation.message }}</span>
      </ion-label>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" expand="block" (click)="submitForm()">Entrar</ion-button>
</ion-footer>