ion-content {
  --background: #111111;

  form {
    margin: auto 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-item {
      border: 3px solid #393741;
      border-radius: 10px;
      font-size: 16px;
      --background: #111111;
      --highlight-background: #111111 !important;

      ion-input {
        --color: #ffffff;
      }

      ion-label {
        color: #8e8d97 !important;
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: #111111;

    ion-button {
      --background: #71c13c;
      height: 40px;
      width: 70vw;
      margin: auto;
      margin-bottom: 50px;
      color: white;
      --color: white;
      --color-activated:white;
      --color-focused: white;
      --color-hover: white; 
    }
  }
}

.validation-errors {
  margin: 5px;
  margin-bottom: 15px;

  ion-label {
    color: #f06564;
    font-size: 12px;
  }
}

ion-img {
  margin: 0 auto;
  margin-bottom: 10vh;
  height: 90px;
}
